<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<p>Hi</p>
	<form method="POST" action="/usr/register">
		First Name: <input type="text" name="first_name" />
		Email: <input type="email" name="email" />
		Password <input type="password" name="password" />
		Last Name: <input type="text" name="last_name" />
		Phone Number: <input type="text" name="phone_number" />
		Date of Birth: <input type="date" name="dob" />
		Male: <input type="radio" name="gender" value="male" />
		Female<input type="radio" name="gender" value="female" />
		<input type="submit" value="register" /> 
	</form>
</body>
</html>