body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 2em 1em;
  
  height: 100%;
  
  font-family: 'Inter', sans-serif;
  text-align: center;
  background-color: black;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2em;
  
  background-color: white;
  padding: 4em;
  border-radius: 20px;
}

#game {
  display: grid;
  grid-auto-flow:column dense;
  grid-template-rows: 110px 110px;
  grid-auto-columns: 110px;
  
  
}

.square {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  border-radius: 10px;
  box-sizing: border-box;
  
  background-color: hsl(212, 100%, 63%);
}

.diff {
  background-color: hsl(212, 100%, 40%);
}

h1 {
  font-size: 40px;
  font-weight: 900;
  margin: 0;
}

div, p {
  font-weight: 400;
  font-size: 20px;
}

#score {
  text-align: center;
  line-height: 2;
  padding: 1em 3em;
  border: 1px solid hsl(0, 0%, 93%);
  border-radius: 10px;
}

#try-again {
  padding: 1em 3em;
  background-color: hsl(0, 0%, 93%);
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: none;
}

#try-again:hover {
  background-color: hsl(0, 0%, 85%);
  transition: background-color 0.3s ease;
}